@{
    ViewBag.Title = "Home Page";
}

<div class="col">
    <div class=" card">

        <h2> A Real OK TEAM HERE TO TRY AND SAVE YOU</h2>

        <p>
            if you''re still breathing once you reach the hospital , then we,ve done our job successfully
            <a href="~/Home/Services" class="btn btn-primary btn-md">Book Ambulance &raquo;</a>
        </p>
    </div>
</div>
<hr />

<div class=" = row">
    <div class="card">

      <h2 id="hostingTitle">Web Hosting</h2>
       <p>
        You can easily find a web hosting company that offers the right mix of features and price for your applications.
       
       </p>
       <p><a class="btn btn-danger " href="https://go.microsoft.com/fwlink/?LinkId=301867">SOS &raquo;</a>
       </p>
    </div>
</div>
    


  